@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --bg-0: #0e0d13;
    --bg-1: #6859e3;
    --bg-2: #ffffff;
}

body{
    margin: 0;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: linear-gradient(#0e0d13 20%, #6859e3 85%, #ffffff);
}